.container {
    width: 100vw;

    .head {
        display: flex;
        justify-content: center;
        background-color: rgb(219, 245, 235);
        border-bottom: 2px solid rgb(180, 203, 255);


        .head-button{
            color: rgb(26, 38, 199);
            background-color: rgb(236, 246, 247);
            margin: 1vw;
            border: solid 2px rgb(178, 188, 245);
            font-weight: 500;
            font-size: 1rem;
            border-radius: 20px;
            padding: 0.4rem;
        }

    }

}