.breakfest-button {
    border-right: 2px solid rgb(180, 203, 255);
    width: 170px;

}

.breakfast-container {
    display: flex;
    width: 100%;
    height: 100%;
}

button {
    text-align: left;
    height: fit-content;
    display: block;
    white-space: normal;
    line-height: normal;
    font-size: medium;
    margin: 10px;
    width: 150px;
    background-color: rgb(203, 215, 248);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.breakfast-field {
    word-wrap: break-word;
    padding: 15px;
}

@media screen and (max-width:800px) {
    .breakfast-container {
        flex-direction: column;

        .breakfest-button {
            border-right: none;
        }
    }

    .breakfast-field {
        width: 100vw;
        padding: 2px;
    }
}